.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  height: 180px;
  justify-content: space-between;
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
}

.wolox-logo-footer {
  height: 70px;
  position: relative;
}

.footer-text-bottom {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  top: 60px;
  position: relative;
  width: 14%;
}

.footer-text-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  padding-left: 7%;
  position: relative;
  width: 86%;
}

.footer-text-top {
  color: white;
}
