.navbar {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 90px;
  justify-content: space-between;
  left: 0;
  padding: 0 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow:0px 1px 1px $grey;
 -moz-box-shadow:0px 1px 1px $grey;
 box-shadow:0px 1px 1px $grey;
}

.wolox-logo {
  height: 30px;
}

.nav-text-right {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
