.container {
  display: flex;
  flex-direction: column;
  padding: 150px;
}

.title {
  margin-bottom: 30px;
}

.grid {
  align-self: center;
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-template-rows: 350px 350px;
  margin-bottom: 100px;
}

.container-frontend {
  grid-template-areas: 
    "react angular vue"
    "react elm polymer";
}

.container-backend {
  grid-template-areas: 
    "rails express aspnet"
    "rails django .";
}

.border-left {
  border-left: 2px solid $green;
}

.react {
  align-self: center;
  grid-area: react;
}

.angular {
  grid-area: angular;
}

.vue {
  grid-area: vue;
}

.elm {
  grid-area: elm;
}

.polymer {
  grid-area: polymer;
}

.rails {
  align-self: center;
  grid-area: rails;
}

.express {
  grid-area: express;
}

.aspnet {
  grid-area: aspnet;
}

.django {
  grid-area: django;
}

@media only screen and (max-width: 1024px) {
  .title {
    align-self: center;
  }

  .container-frontend {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .container-backend {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .border-left {
    border-left: 0;
  }

  .tech-container {
    border-bottom: 2px solid $green;
  }
}
