.container {
  display: flex;
  flex-direction: column;
  padding: 150px;
}

.title {
  margin-bottom: 30px;
}

.container-frontend {
  align-self: center;
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-template-rows: 350px 350px;
  grid-template-areas: 
    "react angular vue"
    "react elm polymer";
  margin-bottom: 100px;
}

.container-backend {
  align-self: center;
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-template-rows: 350px 350px;
  grid-template-areas: 
    "rails express aspnet"
    "rails django .";
  margin-bottom: 100px;
}

.react {
  align-self: center;
  grid-area: react;
}

.angular {
  border-left: 2px solid $green;
  grid-area: angular;
}

.vue {
  grid-area: vue;
}

.elm {
  border-left: 2px solid $green;
  grid-area: elm;
}

.polymer {
  grid-area: polymer;
}

.rails {
  align-self: center;
  grid-area: rails;
}

.express {
  border-left: 2px solid $green;
  grid-area: express;
}

.aspnet {
  grid-area: aspnet;
}

.django {
  border-left: 2px solid $green;
  grid-area: django;
}
