.tech-container {
  align-items: center;
  background-color: $green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 350px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  width: 260px;

  &::before {
    border: 2px solid $green;
    border-radius: 10px;
    content: '';
    height: 100%;
    left: -15px;
    position: absolute;
    top: -20px;
    width: 100%;
  }

  .tech-logo {
    height: 100px;
    left: 0;
    width: 100px;
  }
  
  .tech-title, 
  .tech-release,
  .tech-description {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  .tech-release {
    font-weight: bold;
    margin-bottom: 30px; 
  }

  .tech-description {
    margin: 30px 10px;
    text-align: center; 
  }
}
