.title {
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.title::before {
  background-image: url('triangle.svg');
  background-repeat: no-repeat;
  background-size: 70px 90px;
  content: '';
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 70px;
  z-index: -1;
}
