.navbar {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 90px;
  left: 0;
  padding: 0 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 1px #C4C4C4;
  -moz-box-shadow: 0px 1px 1px #C4C4C4;
  box-shadow: 0px 1px 1px #C4C4C4;
}

.wolox-logo {
  height: 30px;
  margin-right: 700px;
}

.logout {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-right: 50px;
  text-decoration: none;
}

.blank-page {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

@media only screen and (max-width: 1024px) {
  .nav-text-right {
    display: none;
  }
}
